<div id="pong-index">
    <div id="user-left">
        <img src="<%= user_left.avatar %>">
        <h1>
        <%= user_left.username %>
        </h1>
        <p id="user_left_score">0</p>
        <div class="users-forfeit">
        <% if (Transcendence.current_user.toJSON().id == user_left.id) { %>
            <button id="forfeit-left">Forfeit</button>
        <% } %>
        </div>
    </div>
    <div id="canvas-div" style="border: 2px solid black;">
        <canvas id="canvas-id" width="600" height="350">
        </canvas>
    </div>
    <div id="user-right">
        <img src="<%= user_right.avatar %>">
        <h1>
            <%= user_right.username %>
        </h1>
        <p id="user_right_score">0</p>
        <div class="users-forfeit">
        <% if (Transcendence.current_user.toJSON().id == user_right.id) { %>
            <button id="forfeit-right">Forfeit</button>
        <% } %>
        </div>
    </div>
</div>
<% if ((Transcendence.current_user.toJSON().id != user_right.id) && (Transcendence.current_user.toJSON().id != user_left.id)){ %>
    <button id="leave-spec">Leave Spec mode</button>
<% } %>
<script>

</script>
