<div id="home-page">
    <% if (Transcendence.current_user.toJSON().admin) { %>
        <div style="text-align:right;"><a href="#admin_panel"><button>admin panel</button></a></div>
    <% } %>
    <h1>
        TRANSCENDENCE
    </h1>
</div>

<% if (Transcendence.current_user.toJSON().first_time == true) { %>
<div id="firsttime-modal" class="modal" style="display:block;z-index:150;">
    <div class="modal-content">
        <div class="modal-header">
            First time ?<br/>
            Personalise your profile !
        </div>
        <br/>
        <a href="#users/edit_profile"><button class="confirm-choice edit-profile">Edit profile</button></a>
        <button class="confirm-choice">Later</button>
    </div>
</div>
<% } %>