<h1>Listing friends</h1>

<table id="friends-table">
  <tr>
    <th>User one</th>
    <th>User two</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Friend</a>