<div id="main-chatrooms">
    <div class="create-chatroom">
        <a href="#chatrooms/new"><button class="create">Create a chatroom</button></a>
    </div>
    <br/>
    <div class="chatrooms-list"></div>
</div>
