<div id="user-profile">
    <h1>
        <%= @user.username %>
    </h1>
    <%= link_to "Edit Profile", edit_user_registration_path %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
</div>
