<div id="user-profile">
    <h1>
        <%= @user.username %>
    </h1>
    <ul>
        <li><%= @user.username %>'s guild: [...]</li>
        <li>Add <%= @user.username %> as friend</li>
        <li>Block <%= @user.username %></li>
        <li>Send private messsage</li>
        <li>Defy in Pong game</li>
    </ul>
</div>
