<div id="main-guilds">
    <% if (Transcendence.current_user.toJSON().guild == null) { %>
    <div class="create-chatroom">
        <a href="#guilds/new"><button class="create">Create a guild</button></a>
    </div>
    <% } %>
    <div class="guilds-list"></div>
</div>