<div id="edit-panel">
    <div class="header">
        <h1>Choose the rule</h1>
        <button class="back" onclick="document.location='#guild_wars/new'">Back to list of guilds</button>
    </div>
    <br/>
    <form id="create-chatroom" action="/api/guild_wars" accept-charset="UTF-8" method="post" data-remote="true">
        Start of the war<br>
        <input type="date" id="date-input-start">
        <input type="time" id="time-input-start" required>
        <input type="hidden" id="hidden-input-start" name="start" value="0">
        <br>End of the war<br>
        <input type="date" id="date-input-end">
        <input type="time" id="time-input-end" required>
        <input type="hidden" id="hidden-input-end" name="end" value="0">
        <br>
        <input type="number" name="prize" value="10" min="10" max="100">
        <br>
        <input type="hidden" name="guild_one_id" value="<%= Transcendence.current_user.toJSON().guild %>">
        <input type="hidden" name="guild_two_id" value="<%= guild.id %>">
        <input type="hidden" name="guild_one_points" value="0">
        <input type="hidden" name="guild_two_points" value="0">
        <input type="number" name="unanswered_match" value="0" min="0" max="20">
        <br>
        <input id="duel-id" type="checkbox" name="duels" checked>
        <br>
        <input id="ladder-id" type="checkbox" name="ladder" checked>
        <br>
        <input id="faster-id" type="checkbox" name="faster" checked>
        <br>
        <input id="giant-id" type="checkbox" name="giant" checked>
        <br>
        <input id="reverse-id" type="checkbox" name="reverse" checked>
        <br>
        <input type="hidden" name="pending" value="true">
        <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
        <button type="submit" class="edit save" data-disable-with="Save">Create</button>
    </form>
</div>
<script>
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var today = date.getDate() + 1;
    var month_max = date.getMonth() + 2;
    if (today > 28)
    {
        today = 1;
        month++;
        month_max++;
    }
    if (month > 12)
    {
        month = 1;
        month_max = 2;
        year++;
    }
    if (month_max > 12)
    {
        month_max = 1;
    }
    var datePattern = String(year) + '-' + String(month).padStart(2, '0') + '-' + String(today).padStart(2, '0');
    var datePatternMax = String(year) + '-' + String(month_max).padStart(2, '0') + '-' + String(today).padStart(2, '0');
    document.getElementById("date-input-start").min = datePattern;
    document.getElementById("date-input-start").value = datePattern;
    document.getElementById("date-input-start").max = datePatternMax;
    document.getElementById("date-input-end").min = datePattern;
    document.getElementById("date-input-end").value = datePattern;
    document.getElementById("date-input-end").max = datePatternMax;

    $('#create-chatroom').submit(function() {
        if (document.getElementById("date-input-start").value > document.getElementById("date-input-end").value)
        {
            alert("Start date can't be after the end :(")
            return false;
        }
        else 
        {
            month_one = parseInt(document.getElementById("date-input-start").value.split("-")[1])
            day_one = parseInt(document.getElementById("date-input-start").value.split("-")[2])
            hour_one = parseInt(document.getElementById("time-input-start").value.split(":")[0])
            minute_one = parseInt(document.getElementById("time-input-start").value.split(":")[1])
            timstamp_one = minute_one + (hour_one * 60) + (day_one * 1440) + (month_one * 43800);

            month_two = parseInt(document.getElementById("date-input-end").value.split("-")[1])
            day_two = parseInt(document.getElementById("date-input-end").value.split("-")[2])
            hour_two = parseInt(document.getElementById("time-input-end").value.split(":")[0])
            minute_two = parseInt(document.getElementById("time-input-end").value.split(":")[1])
            timstamp_two = minute_two + (hour_two * 60) + (day_two * 1440) + (month_two * 43800)
            if (timstamp_two - timstamp_one < 60)
            {
                alert("war must at least hold an hour")
                return false;
            }
        }
        if (document.getElementById("duel-id").value == "on")
            document.getElementById("duel-id").value = "true"
        else
            document.getElementById("duel-id").value = "false"
        if (document.getElementById("ladder-id").value == "on")
            document.getElementById("ladder-id").value = "true"
        else
            document.getElementById("ladder-id").value = "false"
        if (document.getElementById("faster-id").value == "on")
            document.getElementById("faster-id").value = "true"
        else
            document.getElementById("faster-id").value = "false"
        if (document.getElementById("giant-id").value == "on")
            document.getElementById("giant-id").value = "true"
        else
            document.getElementById("giant-id").value = "false"
        if (document.getElementById("reverse-id").value == "on")
            document.getElementById("reverse-id").value = "true"
        else
            document.getElementById("reverse-id").value = "false"
        document.getElementById("hidden-input-start").value = document.getElementById("date-input-start").value + "T" +  document.getElementById("time-input-start").value + ".000Z"
        document.getElementById("hidden-input-end").value = document.getElementById("date-input-end").value + "T" +  document.getElementById("time-input-end").value + ".000Z"
        return true;
    });
</script>