<div class="mb-3">
  <%= link_to new_chatroom_path, class: 'btn btn-primary' do %>
    Create a chatroom
  <% end %>
</div>

<% if @chatrooms.present? %>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom.name, chatroom_path(chatroom), class: 'nav-link chatroom-nav-link' %>
    <% end %>
<% else %>
  <div>
    There are no chatrooms
  </div>
<% end %>
