<div id="password-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Please enter the password</h2>
        </div>
        <%= form_for(chatroom, url: chatroom_login_path(chatroom), html: { method: :post }) do |form| %>
        <div class="modal-body">
            <%= form.hidden_field :chatroom_id, value: chatroom.id %>
            <%= form.password_field :chatroom_password %>
        </div>
        <div class="modal-footer">
            <%= form.button "Submit" %>
        </div>
        <% end %>
    </div>
</div>
