<div id="password-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span><br/>
        <div class="modal-header">
            <img class="padlock-image" src="/assets/new_owner.png"><br/>
            Select a new owner for this chatroom
        </div>
        <%= form_for(chatroom, url: new_owner_chatroom_path(chatroom), html: { method: :put }) do |form| %>
            <div class="modal-body">
                <%= form.hidden_field :chatroom_id, value: chatroom.id %>
                <%= form.text_field :owner, autocomplete: :off, value: nil,  placeholder: "Enter user name...", class: "password-field" %><%= form.button "Submit", class: "button-password" %>
            </div>
        <% end %>
    </div>
</div>
