<div>
  <div>
    <h4>
      <div id="paragraph">Welcome to the Chatrooms!</div>
    </h4>
    <hr/>
    <p>
      You can create or join a chatroom from the sidebar.
    </p>
  </div>
  <div>
    <%= render 'chatrooms' %>
  </div>
</div>