<div class="row">
  <div class="col-12 col-md-4">
    <%= render 'chatrooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Chatrooms!
      </h4>
      <hr/>
      <p>
        You can create or join a chatroom from the sidebar.
      </p>
    </div>
</div>
