<div id="users-index">
    <form action="/api/games" method="post" data-remote="true" id="search_game">

        Ladder :
        <input id="ladder-id" type="checkbox" name="ladder">
        <br>
        <input type="hidden" name="pending" value="true">
        <input type="hidden" id="ladder-id-check" name="ladder" value="false">
        <input type="hidden" id="duel-id" name="duel" value="false">
        <button type="submit" class="menu-option">Search</button>
        <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
    </form>
</div>
<script>
     $('#search_game').submit(function() {

        if (document.getElementById('ladder-id').checked == true)
        {
            document.getElementById('ladder-id-check').value = "true"
            document.getElementById('duel-id').value = "false"
        }
        else
        {
            document.getElementById('ladder-id-check').value = "false"
            document.getElementById('duel-id').value = "true"
        }
        return true;
    });
</script>

<div id="waiting" hidden="true">
    waiting for opponent
</div>

<div id="found" hidden="true">
    opponent found
</div>