<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <% Transcendence.users.each(function(model) { %>
        <tr>
            <td><a href="<%= model.escape('id') %>"><%= model.escape('username') %></a></td>
            <td><%= model.escape('email') %></td>
        </tr>
    <% }) %>
</table>
