// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#chatrooms {
    background-color: #EEE;
    font-family: sans-serif;
    padding: 50px;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .tabs li {
        float: left;
        display: block;
    }

    .tabs:after {
        display: table;
        content: ' ';
        clear: both;
    }

    .tabs a {
        display: inline-block;
        background-color: #EEE;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 10px 15px;
    }

    .tabs .active a {
        background-color: #FFF;
    }

    .tabs-content {
        width: auto;
        position: relative;
        z-index: 3;
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin-bottom: 20px;

        .tab-content {
            display: none;
            font-size: 20px;
            text-align: center;
            background-color: white;

            &.active {
                display: block;
            }
    
            &-list {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: auto;
                border-collapse: collapse;

                .tab-content-list-options {
                    background-color: whitesmoke;
                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    &:hover {
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.2);
                    }
                    td {
                        padding: 0;
                        font-weight: 500;
                        font-size: 16px;
                        .tab-content-list {
                            padding-left: 15px;
                            &.room {
                                padding-top: 15px;
                                font-size: 17px;
                                font-weight: bold;
                                text-align: left;
                                overflow-wrap: break-word;
                            }
                            &.owner {
                                padding-bottom: 15px;
                                font-size: 12px;
                                font-style: italic;
                                text-align: left;
                                overflow-wrap: break-word;
                            }
                            &-link {
                                text-decoration: none;
                            }
                            &-image {
                                padding: 5px;
                                width: auto;
                            }
                            &-join {
                                display: none;
                                width: 70px;
                                height: 40px;
                                line-height: 40px;
                                background-color: rgba(2, 125, 197, 0.8);
                                color: white;
                                border-radius: 5px;
                                margin: auto;
                                &.active {
                                    display: block;
                                }
                                &-link {
                                    text-decoration: none;
                                }
                            }
                            &-unjoin {
                                display: none;
                                width: 70px;
                                height: 40px;
                                line-height: 40px;
                                background-color: rgba(2, 125, 197, 0.3);
                                color: white;
                                border-radius: 5px;
                                margin: auto;
                                &.active {
                                    display: block;
                                }
                                &-link {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .modal-content {
        box-sizing: border-box;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(224, 224, 224, 0.9);
        padding: 15px;
        border-radius: 10px;
        animation-name: animatetop;
        animation-duration: 0.6s;
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .modal-header {
            margin: auto;
            text-align: center;
            font-size: 25px;
            width: 100%;
            height: auto;
            font-weight: bold;
            white-space: nowrap;
            line-height: 1.2;
            .padlock-image {
                width: 40px;
                height: 40px;
            }
        }
        .modal-body {
            padding-top: 10px;
            text-align: center;
            .password-field {
                background-color: white;
                height: 38px;
                width: 40%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: none;
                padding-left: 2%;
                padding-right: 2%;
                vertical-align: top;
                outline: none;
                font-size: 15px;
            }
            .button-password {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                height: 40px;
                width: auto;
                color: black;
                font-size: 20px;
                background-color: white;
                border: none;
                border-left: 1px solid;
                font-variant: small-caps;
                &:hover {
                  background: rgba(0, 0, 0, 0.2);
                  cursor: pointer;
                }
            }
        }
    }
}

@keyframes animatetop {
    from {top: -500px; opacity: 0}
    to {top: 50%; opacity: 1}
}
