// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#main-chatrooms {
    background-color: #EEE;
    font-family: sans-serif;
    padding: 50px;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .tabs li {
        float: left;
        display: block;
    }

    .tabs:after {
        display: table;
        content: ' ';
        clear: both;
    }

    .tabs a {
        display: inline-block;
        background-color: #EEE;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 10px 15px;
    }

    .tabs .active a {
        background-color: #FFF;
    }

    .tabs-content {
        position: relative;
        z-index: 3;
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin-bottom: 20px;

        .tab-content {
            display: none;
            font-size: 20px;
            text-align: center;
            background-color: white;

            &.active {
                display: block;
            }
    
            &-list {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: auto;
                table-layout: fixed;
                border-collapse: collapse;

                td {
                    background-color: whitesmoke;
                    padding: 0;
                    font-weight: 500;
                    font-size: 16px;
                    
                    .tab-content-list-option {
                        padding: 15px;
                        &-link {
                            text-decoration: none;
                        }
                        &:hover {
                            cursor: pointer;
                            background: rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
    }

    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.button-password {
    height: 35px;
    border-radius: 20px;
    border: 0;
    background-color: #673AB7;
    color: white;
    width: 80px;
    cursor: pointer;
  }

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
