#main-guilds {
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
    padding: 40px;
    min-width: 700px;
}
    .create-guild {
        text-align: center;
        padding: 0;
    }
        button.create {
            padding: 10px;
            white-space: nowrap;
            height: auto;
            border-radius: 5px;
            border: 0;
            color: white;
            font-size: 17px;
            width: auto;
            cursor: pointer;
            background: rgba(54, 123, 145, 0.7);
 
       }
