// Place all the styles related to the Pongs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


div#pong-index {
    div#user-left{
        float: left;
        width: 25%;
        height: 350px;
    }
    div#canvas-id{
        float: left;
        width: 50%;
        height: 350px;
    }
    div#user-right{
        float:  right;
        width: 50%;
        height: 350px;
    }
}