#user-profile {
    height: 100vh;
    background-color: rgb(240, 240, 240);
    overflow: auto;
    white-space: nowrap;

    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        padding: 15px;
    }
    h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    div.edit-current-user {
        text-align: center;
        padding: 10px;
        button {
            height: auto;
            border-radius: 5px;
            border: 0;
            color: white;
            font-size: 18px;
            width: auto;
            padding: 7px;
            cursor: pointer;
            background: rgba(54, 123, 145, 0.7);
            &:hover {
                background: rgb(48, 109, 129);
            }
            &.block {
                background: rgba(220, 20, 60, 0.7);
                &:hover {
                    background: rgb(168, 13, 44);
                }
            }
        }
    }
}
