#user-profile {
    height: 100vh;
    background-color: rgb(174, 248, 244);
    overflow: auto;
    white-space: nowrap;

    h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
