<h1>New Chat</h1>

<% @chats.each do |chat| %>
<p><div class="usr"><%= chat.user.username %>:</div><br/>
<div class="msg"><%= chat.message %></div></p><br/>
<% end %>
<div id="new_message" ></div>

<%= render 'form', chat: @chat %>

<%= link_to 'Back', chats_path %>
